In [1]:
import pandas as pd

In [2]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
bikeshare_df = pd.read_csv('201908-citibike-tripdata.csv')

In [3]:
# 2. Check the datatypes of your columns. 
bikeshare_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [4]:
# 3. Convert the 'tripduration' column to datetime datatype.
bikeshare_df['tripduration_sec']=bikeshare_df['tripduration']
bikeshare_df['tripduration']= pd.to_datetime(bikeshare_df['tripduration'], unit='s')

In [5]:
# Transform Gender as string object
def genderString(gender):
    if (gender==1):
        return 'MALE'
    elif (gender==2):
        return 'FEMALE'
    return 'UNKNOWN'
bikeshare_df['gender_str'] = bikeshare_df['gender'].map(genderString)

In [6]:
# 4. Check the datatypes of your columns. 
bikeshare_df.dtypes

tripduration               datetime64[ns]
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
tripduration_sec                    int64
gender_str                         object
dtype: object

In [8]:
bikeshare_df.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender,tripduration_sec
count,2.344135e+06,2.344224e+06,2.344224e+06,2.344135e+06,2.344224e+06,2.344224e+06,2.344224e+06,2.344224e+06,2.344224e+06,2.344224e+06
mean,1.663948e+03,4.073724e+01,-7.398197e+01,1.659298e+03,4.073686e+01,-7.398212e+01,2.944990e+04,1.980934e+03,1.154810e+00,1.050173e+03
std,1.479112e+03,3.048848e-02,2.037811e-02,1.479590e+03,3.041781e-02,2.048097e-02,7.620555e+03,1.195674e+01,5.685507e-01,1.193846e+04
min,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406860e+01,1.452900e+04,1.885000e+03,0.000000e+00,6.100000e+01
25%,3.800000e+02,4.071745e+01,-7.399596e+01,3.800000e+02,4.071723e+01,-7.399662e+01,2.499600e+04,1.970000e+03,1.000000e+00,3.890000e+02
50%,5.130000e+02,4.073705e+01,-7.398565e+01,5.090000e+02,4.073653e+01,-7.398602e+01,3.069000e+04,1.984000e+03,1.000000e+00,6.740000e+02
75%,3.295000e+03,4.075757e+01,-7.397111e+01,3.296000e+03,4.075715e+01,-7.397115e+01,3.510900e+04,1.991000e+03,2.000000e+00,1.185000e+03
max,3.810000e+03,4.086900e+01,-7.387800e+01,3.810000e+03,4.086900e+01,-7.387800e+01,4.002500e+04,2.003000e+03,2.000000e+00,3.812666e+06

In [9]:
bikeshare_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripduration_sec,gender_str
0,1970-01-01 00:06:33,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,393,FEMALE
1,1970-01-01 00:10:27,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,627,FEMALE
2,1970-01-01 00:18:52,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,1132,MALE
3,1970-01-01 00:29:40,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1,1780,MALE
4,1970-01-01 00:25:17,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2,1517,FEMALE

In [11]:
# 5. Export the Dataframe as a new CSV file without the index.
bikeshare_df.to_csv('bikeshare-tripdata-edited.csv', index = False)